<div>
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
			<thead class="thead-dark">
				<tr>
					<th>Id</th>
					<th>Customer Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
					<tr>
						<td>{{this.cid}}</td>
						<td>
							<a href="customers/{{this.id}}/cart">{{this.customerName}}</a>
						</td>
						<td>
							<form>
  								<input type="button" class="btn btn-dark btn-sm" value="Go Shopping" onclick="location.href='customers/{{this.id}}/cart'"/>
  								<input type="button" class="btn btn-secondary btn-sm" value="View History" onclick="location.href='customers/{{this.cid}}/orderlist'"/>
							</form>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
