<div>
	<div class="table-responsive">
		<!-- <b>Customer ID: {{custid}}</b> -->
	<table id="ClientItemsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>ItemName</th>
				<th>ItemDescription</th>
				<th>ItemPrice($)</th>
				<th>ItemQuantity</th>
                <th>RefId</th>
				<th></th>
                <th></th>
			</tr>
		</thead>
		<tbody>
		<script type="text/javascript">
		$(document).ready(function(){
			$('#ClientItemsTable').DataTable({
			processing : true,
			serverSide : true,
			ajax : { url: '/data/get/items'},
			columns : [
		  		{ data : "Id" },
		    	{ data : "ItemName" },
		    	{ data : "ItemDescription" },
		    	{ data : "ItemPrice", render: $.fn.dataTable.render.number( ',', '.', 2 ) },
		    	{ data : "ItemQuantity"},
            	{ data : "_id" },
				{
					class : 'AddToCart',
					orderable:      false,
					data:           null,
					defaultContent: '<button class="btn btn-dark btn-sm">Add To Cart</button>'
				},
				{
					class : 'Qty',
					orderable:      false,
					data:           null,
					defaultContent: '<input type="Number" id="itemQty" value="1">'
				}

			]
			});

			$('#ClientItemsTable tbody').on( 'click', 'tr td.AddToCart', function () {
				var refID = $(this).prev().text();
				var qty = document.getElementById('itemQty').value;
				window.location.href = '/customer/{{custid}}/cart/add/' + refID + '/' + qty;
			});
		});
		</script>
		</tbody>
		</table>
		</div>
		<div class="jumbotron">
			<img src="/images/cart5.png" alt="logo" width="6%" height="6%"/>
			<b><font size="5">Shopping Cart</font></b>
		<table class="table table-striped table-bordered table-sm" cellspacing="0" width="60%">
		<thead class="thead-dark">
			<tr>
				<th>ItemName</th>
				<th>ItemPrice</th>
				<th>ItemQty</th>
				<th>SubTotal</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
				{{#each data}}
					<tr>
						<td>{{this.order_ItemName}}</td>
						<td>{{this.order_ItemPrice}}</td>
						<td>{{this.order_ItemQty}}</td>
						<td>{{this.order_subTotal}}</td>
						<td>
							<form method='post' action='/customer/{{../custid}}/cart/remove/{{@index}}'>
    							<input type="submit" class='btn btn-secondary btn-sm' value="Remove" />
							</form>
						</td>
					</tr>
				{{/each}}
			</tbody>
		<tfooter>
				<tr><td>
				<h3>Total = ${{orderTotal}}</h3>
				</td></tr>
		</tfooter>
		</table>
		<form method='post' action='/customer/{{../custid}}/cart/placeorder'>
    		<input type="submit" class='btn btn-dark btn-lg' value="Place Order" />
		</form>
	</div>
</div>
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addToCart" data-whatever="@mdo">Add to Cart</button>

<div class="modal fade" id="addToCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add to Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div>
            <b>Some Messages</b>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Qty:</label>
            <textarea class="form-control" id="itemQty"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-dark">Add To Cart</button>
      </div>
    </div>
  </div>
</div>