<div>
	<div class="table-responsive">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Order Id</th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
					<tr>
						<td>{{this.coid}}</td>
                        <td>
                        </td>
						<td>
							<a href="/admin/{{this.cid}}/edit/{{this.coid}}">Update</a>
							<a href="/admin/{{this.cid}}/edit/{{this.coid}}">Delete</a>
							<a href="/admin/customers/{{this.id}}/orderlist">{{this.customerName}}</a>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
